<div class="row">
    <div class="col-md-2">
        <%= render "layouts/sidebar_filter" %>
    </div>
    <div class="col-md-7">
        <p class="headline"><%= render "displayed_user" %>のユーザ一覧</p>
        <div>
            <% if @users.any? %>
            <% @users.each do |user| %>
            <ul class="list-unstyled">
                <li>
                    <div class="user-index">
                    <div class="user-index-content">
                          <a href="<%= user_path(user) %>">Mrs.<%= user.name %></a>:<%= user.profile_content %>
                          <% num = user.major %>
                          <div class="row ml-1">
                          <a class="major_icon", href="<%= users_path(major: num) %>"><%= image_tag "#{num}.jpg", class: "major_icon" %></a>
                          <p class="popup"><%= render "layouts/popup_major", major: num %></p>
                          </div>
                          <% numnum = user.academic_level %>
                          <div class="row ml-1">
                          <a class="major_icon" href="<%= users_path(academic_level: numnum) %>"><%= image_tag "#{numnum}'.png", class: "major_icon" %></a>
                          <p class="popup"><%= render "layouts/popup_academic_level", academic_level: numnum %></p>
                          </div>
                          <%= render "relationships/follow_button", user: user %>
                    </div> 
                    </div>
                </li>
            </ul>
            <% end %>
            <% else %>
            あなたが初めて登録してくれた人です。
            <% end %>
        </div>
    </div>
    <div class="col-md-2">
        <div class="random-user">
            <div class="headline">
                ランダムユーザ
            </div>
            <div class="random-user-content">
                <a href="<%= user_path(@random_user) %>">
                <%= @random_user.name %>
                </a>
            </div>
        </div>
    </div>
</div>

