<div class="row">
    <div class="col-md-2">
        <%= render "layouts/sidebar_filter" %>
    </div>
    <div class="col-md-7">
        <p class="headline">のユーザ一覧</p>
        <div>
            <% if @users.any? %>
            <% @users.each do |user| %>
            <ul class="list-unstyled">
                <li>
                    <div class="orange_area">
                          <a href="<%= user_path(user) %>">ユーザアイコンの表示はムズイ（∵ユーザモデルにicon_imageを保存する際の仕組みがいまいちわかってないから)</a>
                          <%= render "relationships/follow_button", user: user %>
                          <% num = user.major %>
                          <a href="<%= users_path(major: num) %>"><%= image_tag "#{num}.jpg", class: "major_icon" %></a>
                          <% numnum = user.academic_level %>
                          <a href="<%= users_path(academic_level: numnum) %>"><%= image_tag "#{numnum}'.png", class: "major_icon" %></a>
                    </div>
                    <div class="text_display_area">
                    <%= user.profile_content %>
                    </div>
                </li>
            </ul>
            <% end %>
            <% else %>
            あなたが初めて登録してくれた人です。
            <% end %>
        </div>
    </div>
    <div class="col-md-2">
        <div class="random-user">
            <div class="headline">
                ランダムユーザ
            </div>
            <div class="random-user-content">
                <a href="<%= user_path(@random_user) %>">
                <%= @random_user.name %>
                </a>
            </div>
        </div>
    </div>
</div>

