<div class="row">
    <div>
        <a class="topicon" href="<%= users_path(academic_level: 1) %>"><%= image_tag "1'.png", class: "topicon" %></a>
        <p class="topicon_description">学部生</p>
    </div>
    <div>
         <a class="topicon" href="<%= users_path(academic_level: 2) %>"><%= image_tag "2'.png", class: "topicon" %></a>
         <p class="topicon_description">院生</p>
    </div>
    <div>
        <a class="topicon" href="<%= users_path(academic_level: 3) %>"><%= image_tag "3'.png", class: "topicon" %></a>
        <p class="topicon_description">教授陣etc</p>
    </div>

</div>
