<div class="row">
    <%= link_to "あほうだよ", users_path(major: 1), method: :post %>
    <%= link_to "文学部だよ", users_path(major: 2), method: :post %>
    <%= link_to "教育だよ", users_path(major: 3), method: :post %>
    <%= link_to "総人だよ", users_path(major: 4), method: :post %>
    <%= link_to "パラダイスよ", users_path(major: 5), method: :post %>
    <%= link_to "医学だよ", users_path(major: 6), method: :post %>
    <%= link_to "工学部だよ", users_path(major: 7), method: :post %>
    <%= link_to "理学部だよ", users_path(major: 8), method: :post %>
    <%= link_to "薬学部だよ", users_path(major: 9), method: :post %>
    <%= link_to "農学部だよ", users_path(major: 10), method: :post %>
</div>
<div>
    
</div>