<div class="row">
    <div class="offset-md-2"></div>
    
     <div class="col-md-8">
         
        <div class="row white_area">
        <div class="col-md-9"><img src="#" alt="名言です。"></div>
        <div class="col-md-3">
             <h3 class="border-bottom">会員限定</h3>
             <img src="アウトプット.png" alt="アウトプット管理機能">
             <img src="#" alt="通知機能">
        </div>
        </div>
        
        <div>
            <p class="border-bottom">本を見つける</p>
        </div>
        <div class="row">
            <div class="col-md-6 card">
                <div class="card-header">
                    本のジャンルを見る
                </div>
                <div class="card-body">
                    <div class="row">
                        <img class="col-md-4" src="novel.jpg" alt="小説です。">
                        <img class="col-md-4" src="一般向け学問書.jpg" alt="それら以外です。">
                        <img class="col-md-4" src="専門書.jpg" alt="専門書ですね。">
                    </div>
                    <div class="row">
                        <%= link_to "小説", books_path(genre: 1), method: :post, class: "btn btn-primary" %>
                        <%= link_to "それ以外", books_path(genre: 2), method: :post, class: " btn btn-primary" %>
                        <%= link_to "専門書", books_path(genre: 3), method: :post, class: " btn btn-primary" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 card">
                <div class="card-header">
                    他人のアウトプットを見る
                </div>
                <div class="card-body">
                    <a href="<%= reviews_path %>"><%= image_tag "アウトプット.png" %></a>
                </div>
                
            </div>
        </div>
        <div>
            <p class="border-bottom">人を見つける</p>
        </div>
        <div>
            <ul class="nav nav-tabs nav-justified mb-3">
                <li class="nav-item"><a href="/">専攻で人を見る</a></li>
                <li class="nav-item"><a href="<%= academics_path %>">学問レベルで人を見る</a></li>
            </ul>
            <div>
                <%= render "major" %>
            </div>
        </div>
        
    <div class="offset-md-2"></div>
</div>
