<ul class="list-unstyled" >
    <% reviews.each do |review| %>
    <div class="white_area">
        <div>
        <%= image_tag "アウトプット.png", class: "review_icon" %>
        </div>
        <div class="border-top">
        
        <a href="<%= user_path(review.user)%>">    
        <p>ユーザ名：<%= review.user.name %></p>
        </a>
        <p>本を読み始めた目的:<%= review.purpose %></p>
        <p>ぱっと思い出せる1,2文:<%= review.sentences %></p>
        <p>新たに得た考え方:<%= review.discovery %></p>
        <p>全体の要約:<%= review.summary %></p>
        </div>
        
        <div>
            <%= render "favorites/like_button", review: review %>
        </div>
    </div>
    <% end %>
</ul>