<!--ラジオボタンはあるが、フィルター検索機能はついてない-->
<div id="sidebar_filter" class="white_area">
    
    <div class="filter">
    <p class="headline">専攻で絞る</p>
    <div class="search-form">
        <%= form_with(scope: :search, url:users_path, method: :get, local: true) do |f| %>
         <div>
           <%= f.radio_button :major, :law %>
           <%= f.label :major, "法学部", {value: :law, style: "display: inline-block;"} %>
         </div>
         <div>
           <%= f.radio_button :major, :economics %>
           <%= f.label :major, "経済学部", {value: :economics, style: "display: inline-block;"} %>
         </div>
         <div>
            <%= f.radio_button :major, :sameasme %>
           <%= f.label :major, "自分と同じ学部", {value: :sameasme, style: "display: inline-block;"} %>
         </div>
         <div class="search-botton">
            <%= f.submit "検索", class: "btn btn-success btn-block" %>
         </div>

        <% end %>
    </div>
    </div>
    <div class="filter">
     <p class="headline">学問レベルで絞る</p>
     <div class="search-form">
        <%= form_with(scope: :search, url:users_path, method: :get, local: true) do |f| %>
         <div>
           <%= f.radio_button :major, :law %>
           <%= f.label :major, "法学部", {value: :law, style: "display: inline-block;"} %>
         </div>
         <div>
           <%= f.radio_button :major, :economics %>
           <%= f.label :major, "経済学部", {value: :economics, style: "display: inline-block;"} %>
         </div>
         <div>
            <%= f.radio_button :major, :sameasme %>
           <%= f.label :major, "自分と同じ学部", {value: :sameasme, style: "display: inline-block;"} %>
         </div>
         <div class="search-botton">
            <%= f.submit "検索", class: "btn btn-success btn-block" %>
         </div>

        <% end %>
    </div>
    </div>
    
</div>