<div id="sidebar_auser" class="white_area">
    
    <!--class filterとは違い、クリックして他ページに遷移するようにしとく-->
<% if @current_user == @user %>
    <!--<a href="notifications_path">-->
    <!--    <div class="sidebar_auser_blue_area">-->
    <!--        <p class="headline">通知！！！！</p>-->
    <!--    </div>-->
    <!--</a>-->

    <div class="sidebar_auser_content">
            <a href="<%= notifications_path %>">
            <p class="headline">
                通知
            </p>
            <%= image_tag "通知.png", class: "sidebar_image" %>
            </a>
    </div>
    

    
    <div class="sidebar_auser_content">
        <!--後にログイン機能をつけるので、その際にはMyの文字列をifで変える-->
        <p class="headline">Myプロフィール</p>
        
        <img src="#" alt="ユーザアイコン">
    </div>
    
    
    <a href="<%= mybookshelf_users_path %>">
        <div class="sidebar_auser_content">
            <p class="headline">My本棚</p>
            <%= image_tag "本棚.png", class: "sidebar_image" %>
        </div>
    </a>
    
    
    <a href="<%= myreviews_users_path %>">
        <div class="sidebar_auser_content">
            <p class="headline">Myアウトプット</p>
            <%= image_tag "アウトプット.png", class: "sidebar_image"  %>
        </div>
    </a>
    
    <a href="#">
        <div class="sidebar_auser_content">
            <p class="headline">Myコミュニティ</p>
            <%= image_tag "コミュニティ.png", class: "sidebar_image" %>
        </div>
    </a>
<% else %>
    <a href="#">
        <div class="sidebar_auser_content">
            <p class="headline">本棚</p>
            <%= image_tag "本棚.png", class: "sidebar_image" %>
        </div>
    </a>
    
    <a href="<%= auserreviews_user_path(@user) %>">
        <div class="sidebar_auser_content">
            <p class="headline">アウトプット</p>
            <%= image_tag "アウトプット.png",class: "sidebar_image" %>
        </div>
    </a>

<% end %>
  
    
</div>